<nav class="sidenav" id="sidenav">
    <div class="logo">
        <h2>Menú</h2>
    </div>
    
    <div class="nav-section">
        <a class="nav-item-sibebar " asp-controller="Flsolicitudes" asp-action="Index">
            <i class="fas fa-list"></i>
            <span>Solicitudes</span>
            <span>Solicitudes</span>
        </a>
        
        <a class="nav-item-sibebar" asp-controller="Flsolicitudes" asp-action="IndexAll">
        <a class="nav-item-sibebar" asp-controller="Flsolicitudes" asp-action="IndexAll">
            <i class="fas fa-tachometer-alt"></i>
            <span>Consulta</span>
            <span>Consulta</span>
        </a>
        

        @if (User.IsInRole("Solicitante") || User.IsInRole("Administrador") )
        {
            <div class="nav-separator"></div>
            
            <a class="nav-item-sibebar" asp-controller="Flsolicitudes" asp-action="Create">
                <i class="fas fa-file-alt"></i>
                <span>Nueva Solicitud</span>
            </a>
        }     
        
        @if (User.IsInRole("Autorizador") || User.IsInRole("Administrador") )
        {
             <div class="nav-separator"></div>
            <a class="nav-item-sibebar" asp-controller="Flsolicitudes" asp-action="AllAutorizacion">
                <i class="fas fa-tachometer-alt"></i>
                <span>Autorizacion Masiva</span>
            </a>   
            <a class="nav-item-sibebar" asp-controller="Flsolicitudes" asp-action="ProcesoSAP">
                <i class="fas fa-tachometer-alt"></i>
                <span>Proceso Individual SAP</span>
            </a>   
        }
                            

         @*
        <a href="#" class="nav-item-sibebar">
            <i class="icon-file"></i>
            <span>Acta</span>
        </a>
        
        <a href="#" class="nav-item-sibebar">
            <i class="icon-users"></i>
            <span>Empresa</span>
        </a>
        
        <a href="#" class="nav-item-sibebar">
            <i class="icon-folder"></i>
            <span>Flujo Detalle</span>
        </a>
        
        <a href="#" class="nav-item-sibebar">
            <i class="icon-tools"></i>
            <span>Máquina</span>
        </a>
        
        <a href="#" class="nav-item-sibebar">
            <i class="icon-file"></i>
            <span>Rol</span>
        </a>
        
        <a href="#" class="nav-item-sibebar">
            <i class="icon-chart"></i>
            <span>Estado</span>
        </a>
        
        <div class="nav-separator"></div>
        
        <a href="#" class="nav-item-sibebar">
            <i class="icon-file"></i>
            <span>Tipo Solicitud</span>
        </a>
        
        <a href="#" class="nav-item-sibebar">
            <i class="icon-folder"></i>
            <span>Tipo por Solicitantes</span>
        </a>
        
        <a href="#" class="nav-item-sibebar">
            <i class="icon-users"></i>
            <span>Usuarios</span>
        </a>
        *@
    </div>
</nav>
