/* Asegura que html y body ocupen toda la altura */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Contenedor principal flex */
body {
    display: flex;
    flex-direction: column;
}

/* El contenido principal (main) crece para empujar el footer */
main {
    flex: 1;
}

/* Footer siempre abajo */
footer {
    margin-top: auto;
    background-color: #3498db;
}

body {
    padding: 0 !important;
}
.hide{
    display: none;
}